<div class="flex justify-between !bg-primary-800 p-5 items-center" >
  <div class="flex">
    <div class="flex mx-3 items-center border-r border-solid border-white pr-4">
      <span class="material-icons text-4xl text-white"> place </span>
      <span class="flex items-center text-base text-white max-md:hidden">
        {{ currentLocation }}
      </span>
      <span class="flex items-center text-base text-white md:hidden">
        {{ currentLocationSmall }}
      </span>
    </div>

    <div class="flex mx-3 items-center">
      <div class="current-working-icon">
        <span class="material-icons text-4xl text-white"> work_outline </span>
      </div>
      <span class="flex items-center text-base flex-col ml-3 max-md:flex-row">
        <span class="text-white max-md:hidden">{{ currentProfessionTitle }}</span>
        <span class="text-white md:hidden">{{currentProfessionTitleSmall}}</span>
        <span
          class="cursor-pointer text-left w-full text-white hover:text-primary-200 flex items-center"
          (click)="openCompanyLink()"
        >
        <span class="text-white">&#64;&#160; </span>
           {{ currentlyWorkingIn }}</span
        >
      </span>
    </div>
  </div>



  <!-- Routes for big screen -->
  <div class="flex max-md:hidden">
    <div
      class="mx-5 text-xl cursor-pointer text-primary-200 focus:outline-none hover:text-primary-500"
      [routerLink]="[route.routeLink]"
      routerLinkActive="!text-2xl !text-white"
      *ngFor="let route of rightNotificationItems"
    >
      {{ route.name }}
    </div>
  </div>

  <!-- Routes for small screen -->
  <div class="md:hidden">
    <button [matMenuTriggerFor]="menu">
      <mat-icon class="text-primary-50">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        class="mx-5 text-xl !cursor-pointer !text-primary-200 !focus:outline-none !hover:text-primary-500"
        [routerLink]="[route.routeLink]"
        routerLinkActive="!text-2xl !text-white"
        *ngFor="let route of rightNotificationItems"
      >
      {{ route.name }}
      </button>
    </mat-menu>
  </div>


</div>
