
.header-main-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #000;
    height: 39px;
}

.header-right-items-container {
    display: flex;
}

.router-items {
    color: #000;
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &:hover{
        color: gray;
    }
}
.header-left-items-container {
    display: flex;
}

.current-location-container , .current-working-container {
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.current-location-container{
    border-right: 1px solid red;
}
.current-location-text, .current-working-text {
    color: green;
    font-size: 15px;
}
.current-working-text
{
    display: flex;
    flex-direction: column;
}
.current-location-icon , .current-working-icon {

margin: 0 10px;
    
}
.header-icons
{
    font-size: 30px;
    color: yellow;
}

.current-company-title{
    cursor: pointer;
    &:hover{
        color: orange;
    }
}

.router-link-active{
    color: palevioletred;
    font-size: 30px;
  
}