<div class="flex p-4 w-full h-full px-6 flex-col overflow-y-scroll" id="resumeWrapper">
  <!-- Basic info row -->
  <div
    class="flex rounded-lg border border-solid border-primary-100 py-4 px-2 my-4 max-md:flex-col max-md:justify-center max-md:items-center"
  >
    <img
      class="rounded-lg w-52 h-52 mx-2 max-md:mb-4"
      src="../../../assets/images/resume_pic.jpeg"
    />
    <div class="flex flex-col ml-2 justify-start">
        <div class="flex justify-between items-center">
            <span class="text-black text-3xl">Aman Pareek</span>
            <app-custom-button buttonName="Download" linkToOpen="../../../assets/documents/aman_pareek_resume.pdf" iconClass="fa-solid fa-file-arrow-down" ></app-custom-button>
        </div>

      <span class="text-black text-xl my-2 border-b border-solid border-gray-100 pb-2">
        Senior Software Engineer at Zeotap</span
      >
      <span class="text-gray-500 text-base [&_em]:text-primary-700 [&_em]:font-bold">
        Experienced <em>Frontend Developer</em> with around <em>6 years</em> of expertise in building scalable, high-performance web applications using modern technologies like <em>Angular, React, Tailwind CSS, and Node.js</em>. Adept at leading innovative projects, optimizing web performance, and mentoring team members. Proven success in delivering impactful solutions for customer-facing products and enterprise platforms. Proficient in implementing <em>BFF layers, custom component libraries, and AI-powered features</em>, driving efficiency and user engagement. Strong advocate for clean code, best practices, and collaboration, with a passion for frontend-focused or full-stack roles in product-based organizations.
      </span>
    </div>
  </div>

  <!-- Skills -->
  <div
    class="flex flex-col my-4 rounded-lg border border-solid border-primary-100 py-4"
  >
    <span class="text-black text-xl mx-4 mb-4 border-b border-solid border-gray-100 pb-2">
      <i class="fa-solid fa-screwdriver-wrench text-primary-700 mr-2"></i>
      Skills</span
    >
    <div class="flex flex-wrap mx-2">
      <div
        *ngFor="let skill of skillsList"
        class="m-2 px-4 py-2 rounded-l-xl rounded-r-xl bg-primary-50/25 border border-solid border-primary-500 text-black text-sm hover:text-white hover:bg-primary-500 [&_i]:hover:text-white"
      >
        {{ skill }}
      </div>
    </div>
  </div>

  <!-- Experience -->
  <div
    class="flex flex-col my-4 rounded-lg border border-solid border-primary-100 py-4"
  >
    <span class="text-black text-xl mx-4 mb-4 border-b border-solid border-gray-100 pb-2">
      <i class="fa-solid fa-briefcase text-primary-700 mr-2"></i>
      Experience</span>

    <div class="flex flex-col">
      <div
        *ngFor="let experience of experienceList"
        class="flex flex-col mx-4 border-x border-primary-500 bg-primary-50/10 drop-shadow-sm border-solid mb-4 p-4 rounded-xl"
      >
      <div class="text-black text-lg mb-2">
        {{ experience.title }} at <span class="text-primary-700 font-bold hover:text-primary-600 cursor-pointer" (click)="openCompanyLink(experience.link)">{{ experience.companyName }}</span>
      </div>
      <div class="text-gray-500 text-xs italic mb-2">
        {{ experience.companyInfo }}
      </div>
      <div class="text-gray-500 flex justify-between mb-2">
        <span>{{experience.joinedFrom}} - {{experience.joinedTill}} <span class="text-primary-700 font-bold">( {{experience.duration}} )</span> </span>
        <span>{{experience.location}}</span>
      </div>

      <div class="flex flex-col">
        <span class="text-primary-700 text-base mb-2 border-b border-solid border-gray-100 pb-2">Learnings</span>
        <div *ngFor="let learning of experience.learnings" class="mb-4">
          <i class="fa-solid fa-chevron-right text-primary-700 mr-2"></i> <span class="text-gray-500 [&_em]:text-primary-700 [&_em]:font-bold" [innerHTML]="learning"></span>
        </div>
      </div>

      </div>
    </div>
  </div>

  <!-- Education -->

  <div class="flex flex-col my-4 rounded-lg border border-solid border-primary-100 py-4">
    <span class="text-black text-xl mx-4 mb-4 border-b border-solid border-gray-100 pb-2">
        <i class="fa-solid fa-graduation-cap text-primary-700 mr-2"></i>
        Education</span>

    <div class="flex flex-col">
      <div
        *ngFor="let education of education"
        class="flex flex-col mx-4 border-x border-primary-500 bg-primary-50/10 drop-shadow-sm border-solid mb-4 p-4 rounded-xl"
      >
      <div class="text-black text-lg mb-2">
        {{ education.degreeName }} <span *ngIf="education.specialization">in {{education.specialization}}</span> at <span class="text-primary-700 font-bold" [ngClass]="{' hover:text-primary-600 cursor-pointer': education.link}" (click)="openCompanyLink(education.link || '')">{{ education.instituteName }}</span>
      </div>
      <div class="text-gray-500 flex justify-between mb-2">
        <span>{{education.fromTo}}</span>
        <span>{{education.location}}</span>
      </div>
      <div class="text-primary-700 font-bold">
        Grade - {{education.gradePoint}}
      </div>

      </div>
    </div>
  </div>

  <!-- Interests -->

  <div
  class="flex flex-col my-4 rounded-lg border border-solid border-primary-100 py-4"
>
  <span class="text-black text-xl mx-4 mb-4 border-b border-solid border-gray-100 pb-2">
    <i class="fa-solid fa-mountain-sun text-primary-700 mr-2"></i>
    Interests</span
  >
  <div class="flex flex-wrap mx-2">
    <div
      *ngFor="let interest of interestList"
      class="m-2 px-4 py-2 rounded-l-xl rounded-r-xl bg-primary-50/20 border border-solid border-primary-500 text-black text-sm hover:text-white hover:bg-primary-500 [&_i]:hover:text-white"
    >
      {{ interest }}
    </div>
  </div>
</div>

</div>
