<div class="home-main-container relative" 
[ngClass]="selectedTheme"
>

    <app-header></app-header>

  <button
    class="absolute bottom-0 z-10 left-0 rounded-full bg-white drop-shadow-lg  text-primary-500 flex items-center ml-4 mb-4 p-2"
    (mouseenter)="isHidden = !isHidden"
    (mouseleave)="isHidden = !isHidden"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>color_lens</mat-icon>
    <span
      class="text-primary-500 ml-2 transition-all"
      [@enterAnimation]
      *ngIf="isHidden"
      >Theme</span
    >
  </button>

  <div
    class="h-[calc(100vh-80px)]"
    [@routeAnimations]="getAnimationData(rOutlet)"
  >
    <router-outlet #rOutlet="outlet"></router-outlet>
  </div>

<mat-menu #menu="matMenu" class="!h-80 !mb-4 !bg-white/50 !shadow-none border border-solid border-gray-100">
  <button
    mat-menu-item
    *ngFor="let color of colors"
    (click)="onThemeSelection(color)"
  >
    <div
      [style]="{
        '--color500': color.hexCodes[500],
        '--color50': color.hexCodes[50]
      }"
      class="bg-[var(--color500)] text-[var(--color50)] px-4 rounded !w-48 flex items-center justify-between"
    >
      {{ color.displayName }}
      <mat-icon *ngIf="selectedTheme === color.name" class="!text-white">done</mat-icon>
    </div>
  </button>
</mat-menu>

</div>
