<div class="fixed inset-0 z-20 bg-gray-500/25 flex justify-center items-center">

    <div class="w-1/3 bg-white rounded-lg shadow-lg">
        <!-- Header -->
        <div class="border-b border-primary-700 text-primary-900 border-solid p-4 bg-primary-50/30">
            {{headerText}}
        </div>

        <!-- Content -->

        <div class="p-4">
            <!-- Content goes here -->
        </div>


        <!-- Footer -->

        <div class="flex items-center justify-end p-4">
            <app-custom-button class="mr-2" buttonName="Save" (onButtonClickEvent)="onSave.emit()"></app-custom-button>
            <app-custom-button buttonName="Close" (onButtonClickEvent)="onCancel.emit()"></app-custom-button>
        </div>

    </div>

</div>