<div
  class="group rounded-2xl p-4 border border-solid border-primary-700 h-fit cursor-pointer flex flex-col max-w-[30%] mr-8 mb-8 hover:bg-primary-50/20 hover:scale-105"
  (click)="goToURL(projectDetails.path)">
  <span class="font-bold border-b border-gray-200 border-solid pb-2 flex items-center justify-start text-lg">
    <i class="fa-solid text-primary-700 mr-2" [ngClass]="projectDetails.icon"></i>
    {{ projectDetails.name }}</span>
  <span class="my-4 text-gray-500" >{{projectDetails.description}}</span>
  
  <div *ngIf="projectDetails.underDevelopment" class="flex justify-between bg-primary-700 rounded-full p-2 items-center">
    <i class="fa-solid fa-person-digging text-white"></i>
    <span class="text-white">Project under development</span>
    <i class="fa-solid fa-person-digging text-white"></i>
  </div>
</div>