<div class="h-[calc(100vh-80px)] bg-white flex w-full overflow-y-scroll">
    <div class="flex flex-wrap h-full items-center overflow-y-scroll justify-center">
      <div
        class="m-3 flex flex-col h-[19rem] w-[19rem] justify-between"
        #thisDiv
        (mouseenter)="oonMouseOverAnimation(thisDiv)"
        (mouseleave)="oonMouseLeaveAnimation(thisDiv)"
        *ngFor="let contact of allContacts"
      >
        <span class="py-4 shadow-sm border-t border-solid border-primary-200 text-center rounded-t-xl text-3xl bg-white">
          <i [ngClass]="contact.iconClass" class="text-primary-500 text-3xl"></i>
          
          {{ contact.title }}</span>
        <span class="text-xl px-2 py-6 text-black">{{ contact.message }}</span>
        <span
          class="cursor-pointer shadow-md text-center border-b border-solid border-primary-200 rounded-b-xl py-5 px-2 text-primary-500 hover:text-white hover:bg-primary-500"
          (click)="openLinkInAnotherTab(contact.followLink)"
          >{{ contact.followMeMessage }} -></span
        >
      </div>
    </div>
  </div>
  