<div class="h-[calc(100vh-80px)] max-md:h-[calc(100vh-100px)] bg-white flex w-full px-4 pb-4 flex-col">
  <!-- Header Link -->
  <div class="my-2 flex items-center justify-between">
    <app-custom-header-link [headerLinkItems]="headerLinkItems"></app-custom-header-link>
  </div>


  <!-- Projects tray -->
  <div class="flex flex-wrap rounded-lg border border-solid h-full border-gray-200 overflow-y-scroll p-4">
    <div *ngFor="let project of allProjects">
      <app-project-card [projectDetails]="project"></app-project-card>
    </div>
  </div>

  <!-- Project contents -->
  <router-outlet></router-outlet>
</div>