
:host {
    display: block;
  }
  
  .about-me-main-container {
    height: calc(100vh - 80px);
    
    background-color: salmon;
  }
  
  .text-description-container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bio-length-radio-button-container {
    border-top: 1px solid violet;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin-top: 10%;
    background-color: white;
    color: cadetblue;
    flex-direction: column;
    text-align: center;
  }
  
  .about-me-bio {
    border-bottom: 1px solid chocolate;
    border-radius: 0 0 10px 10px;
    width: 50%;
    padding: 10px;
    background-color: palegreen;
    white-space: pre-line;
    color: olive;
    font-size: 20px;
  }
  .bio-length-radio-button {
    margin: 5px 20px;
  }
  .about-me-bio-text {
    display: block;
  }
  
  span.bold-text-in-bio {
    font-size: 40px !important;
  }
  
  span.about-me-header-text {
    font-size: 25px;
  }
  
  ::ng-deep .about-me-bio strong {
    color: teal;
    font-size: 120%;
  }
  
  ::ng-deep
    .bio-length-radio-button-container
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: gold;
  }
  
  ::ng-deep .bio-length-radio-button-container span.mat-radio-inner-circle {
    background-color: navy !important;
  }
  