<form [formGroup]="informationFormGroup" class="w-full">
    <!-- Basic Info -->
    <div class="flex items-center flex-col w-full">

        <!-- Name -->
        <div class="my-8 py-10 px-10 flex flex-col bg-gray-100 w-full">
            <!-- Name -->
            <span class="text-6xl text-gray-600" (click)="onBasicInfoClick()">{{informationFormGroup.get('basicInformation')?.get('name')?.value}}</span>
            <!-- Current Position -->
            <span class="text-4xl text-gray-600" (click)="onBasicInfoClick()">{{informationFormGroup.get('basicInformation')?.get('currentPosition')?.value}}</span>
        </div>

    </div>

</form>